@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
.read-the-docs {
  color: #888;
}
select {
  width: 90%;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  padding: 1rem;

  font-family: 'Tilt Neon', sans-serif;
}
.App {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 100vh;
  height: 80%;
  max-width: 900px;
  width: 100%;

  margin: 0 auto;
  flex-direction: column;

  font-family: 'Tilt Neon', sans-serif;
}

.inner {
  display: flex;
  gap: 1rem;
}
.item {
  min-width: 85%;
  min-height: 500px;
  height: 50vh;

  box-sizing: border-box;
}

.carousel {
  cursor: grab;
  overflow: hidden;
  width: 90%;
}
